---
import Layout from "src/layouts/layout.astro";
import NiceButton from "@global/niceButton.astro";
import BackgroundImige from "@global/backgroundImige.astro";
import json from "public/teas.json";
import TeaRecipes from "@global/teaRecipes.astro";
---

<Layout title="Tea today is delicious" language="en">
  <div id="Block-1">
    <div class="h-screen w-screen overflow-hidden">
      <div
        id="DarkSideBar"
        class="absolute w-full h-full right-0 z-10 from-true-black/100 bg-gradient-to-l opacity-95"
      >
      </div>

      <img
        id="TheBackGorundImage"
        class="h-auto w-screen TeaCupBackground"
        style=""
        src="/img/background/a823ff6bdd05ad85b615988a96e28739.jpeg"
        alt="Tea"
      />
    </div>

    <div
      id="Text"
      class="absolute flex flex-col gap-4 content-center items-center w-[44rem] TeaCupText top-[20%] right-[10%] z-20"
    >
      <p class="Headline-2 text-center">Discover varijas flavors of tea</p>
      <p class="Text text-center pb-4">
        Explore different types of tea, their production processes and health
        advantages, while keeping track of your personal tea journey.
      </p>

      <form class="w-10/12">
        <div class="relative flex flex-row gap-14">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
            </svg>
          </div>

          <input
            type="search"
            id="default-search"
            class="p-4 ps-10 rounded-lg w-full placeholder-black"
            placeholder="Search for..."
            autocomplete="off"
            required
          />

          <!-- <NiceButton text="Search" /> -->

          <div
            class="absolute top-16 flex flex-col w-full gap-2 max-h-32 overflow-scroll rounded-lg w"
            id="results"
          >
          </div>
        </div>
      </form>
    </div>

    <div
      class="absolute left-0 flex justify-center items-center w-full bottom-4 hover:bottom-8 transition-all duration-300"
    >
      <div class="flex flex-col justify-center items-center z-10">
        <div class="h-4">
          <svg
            width="80"
            height="25"
            viewBox="0 0 80 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="text-neutral-400"
          >
            <path
              d="M77 2L41.5 17L2 2"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <div>
          <svg
            width="80"
            height="25"
            viewBox="0 0 80 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="text-white"
          >
            <path
              d="M77 2L41.5 17L2 2"
              stroke="currentColor"
              stroke-width="3.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <style>
    .TeaCupBackground {
      transform: scaleY(-1) scale(1.35) translate(-10%, 16%);
    }
    TeaCupText {
      transform: translate(50%, 50%);
    }
  </style>
  <!-- TODO FIX This V inplementuoti is duomenu bazes duomenis -->
  <script type="module">
    const searchBar = document.getElementById("default-search");

    const results = document.getElementById("results");

    const data = [
      "darjeeling-ftgfop1",
      "darjeeling-millikthong-ftgfop1-ff-2024",
      "gold-assam-mangalam-ftgfop1",
      "kanyam-sftgfop",
      "skonis-ir-kvapas-earl-grey",
      "citrusu-vejas"
    ];

    searchBar.addEventListener("input", function () {
      const query = searchBar.value.toLowerCase();

      const filteredData = data.filter((item) =>
        item.toLowerCase().includes(query)
      );

      results.innerHTML = "";

      filteredData.forEach((item) => {
        const a = document.createElement("a");
        a.classList.add("bg-white", "p-2", "rounded-lg", "font-normal");
        a.textContent = item;
        a.href = item;
        a.target = "_blank";
        a.rel = "noopener noreferrer";
        results.appendChild(a);
      });
    });
  </script>

  <!-- ----------------------------------------------------------------------------------------- -->

  <!-- TODO FIX This V inplementuoti is duomenu bazes duomenis -->
  <div id="Block-2" class="mt-4 mb-24 flex flex-col">
    <div id="TopList" class="flex gap-20 justify-center items-center">
      {
        Object.keys(json).map((category) => (
          <button
            data-category={category}
            class="bg-transparent px-4 py-2 my-6 rounded hover:bg-color/10 flex flex-row text-light/50 TeaSelection"
          >
            <p id="Block2DataTabs-p" class="Text text-inherit leading-none">
              {category}
            </p>
          </button>
        ))
      }
    </div>

    <div
      id="teaDetails"
      class="flex flex-col gap-4 justify-center items-center"
    >
      <p id="teaName" class="text-light Headline-2 leading-none"></p>

      <p
        id="teaDescription"
        class="text-light text-center Text w-[36rem] h-36 leading-tight"
      >
      </p>

      <NiceButton id="teaButton" text="" link="#" />
    </div>

    <div
      class="relative flex flex-row justify-center items-center w-[72rem] mx-auto"
    >
      <div
        id="leftArrow"
        class="absolute left-1 p-8 hover:bg-white/10 rounded-lg z-20"
      >
        <svg
          width="19"
          height="79"
          viewBox="0 0 19 79"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17 77L2 41.5L17 2"
            stroke="#F4F0E5"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>

      <div class="flex flex-row my-16 w-[60rem] overflow-hidden relative">
        <div
          class="absolute bg-gradient-to-r from-dark-green to-transparent h-full w-72 left-0 z-10 pointer-events-none"
          id="leftShader"
        >
        </div>

        <div
          id="scroll"
          class="h-full flex flex-row items-center gap-16 overflow-x-hidden scrollbar-hide"
        >
          <!-- ToDo: is js gauni Arbata [green tea, black tea, white tea] ta categorija idedi i cia ir textas automatiskai pasikeicia -->
          {
            json["Green Teas"].tealist.slice(0, 5).map((tea) => (
              <div class="h-52 w-52 bg-white border-4 border-color rounded-full shrink-0 overflow-hidden">
                <a href={tea.tea.name}>
                  tea.tea.name
                  <img
                    src={`/img/teas/Green Tea/id${tea.id}.jpg`}
                    class="w-full h-full object-cover object-center teaImige"
                    alt=""
                  />
                </a>
              </div>
            ))
          }
        </div>
        <div
          class="absolute bg-gradient-to-r from-transparent to-dark-green h-full w-72 right-0 z-10 pointer-events-none"
          id="rightShader"
        >
        </div>
      </div>

      <div
        id="rightArrow"
        class="absolute right-1 p-8 hover:bg-white/10 rounded-lg z-20"
      >
        <svg
          width="19"
          height="79"
          viewBox="0 0 19 79"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 2L17 37.5L2 77"
            stroke="#F4F0E5"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <script type="module" data-message="a">
      const categoryButtons = document.querySelectorAll(
        "button[data-category]"
      );
      const teaDetails = document.getElementById("teaDetails");
      const teaName = document.getElementById("teaName");
      const teaDescription = document.getElementById("teaDescription");
      const teaButton = document.getElementById("buttontext");

      function onCreate() {
        teaName.textContent = "Green Teas";
        teaDescription.textContent =
          "Explore different types of tea, their production processes and health advantages, while keeping track of your personal tea journey.";
        teaButton.textContent = "All Green Teas";
      }

      onCreate();
      fetch("/teas.json")
        .then((response) => response.json())
        .then((teas) => {
          function updateTeaDetails(category) {
            const selectedTea = teas[category]; //teas[category]["description"]
            teaName.textContent = category;
            teaDescription.textContent = selectedTea.description;
            teaButton.textContent = `All ${category}`;
          }

          categoryButtons.forEach((button) => {
            button.addEventListener("click", (e) => {
              const category = e.target.closest("button").dataset.category;
              updateTeaDetails(category);
            });
          });
        })
        .catch((error) => {
          console.error("Error fetching teas:", error);
        });
    </script>
  </div>

  <style>
    .teaImige {
      transform: scale(1.3);
    }

    @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-130rem);
      }
    }
    .scroll-auto {
      animation: scroll 10s linear infinite;
    }
    .scroll-auto:hover {
      animation-play-state: paused;
    }
  </style>

  <script type="module">
    const scroll = document.getElementById("scroll");
    const leftArrow = document.getElementById("leftArrow");
    const rightArrow = document.getElementById("rightArrow");

    let scrollInterval;

    function scrollLeft() {
      scroll.scrollBy({ left: -50, behavior: "smooth" });
    }

    function scrollRight() {
      scroll.scrollBy({ left: 50, behavior: "smooth" });
    }

    leftArrow.addEventListener("mouseenter", () => {
      scrollInterval = setInterval(scrollLeft, 10);
    });

    rightArrow.addEventListener("mouseenter", () => {
      scrollInterval = setInterval(scrollRight, 10);
    });

    leftArrow.addEventListener("mouseleave", () => {
      clearInterval(scrollInterval);
    });

    rightArrow.addEventListener("mouseleave", () => {
      clearInterval(scrollInterval);
    });
  </script>

  <!-- ----------------------------------------------------------------------------------------- -->

  <div id="Block-3" class="flex flex-col h-screen">
    <BackgroundImige
      img="97ec70c76e9ab89fdc6970cb434a29e2"
      H1="Discover varijas flavors of tea"
      p1="Explore different types of tea, their production processes and health advantages, while keeping track of your personal tea journey."
      b1="Learn more"
      link="/teaList/"
    />
  </div>

  <!-- ----------------------------------------------------------------------------------------- -->

  <TeaRecipes />

  <!-- ----------------------------------------------------------------------------------------- -->

  <div id="Block-5" class="flex flex-col h-screen">
    <BackgroundImige
      img="5c97b0aaaabcf68e17e8c877f518490f"
      H1="Your Tea-Diary"
      p1="Create your personal tea profile and start your tea diary to track and explore your tasting experiences. Share these with your Teamates and build your tea journey together."
      b1="Learn more"
      link="/profile/"
    />
  </div>

  <!-- ----------------------------------------------------------------------------------------- -->

  <div id="Block-6" class="flex h-screen items-center justify-center flex-col">
    <div class="relative inline-block">
      <svg
        width="1165"
        height="530"
        viewBox="0 0 1165 530"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="263.905"
          y="159.027"
          width="663.761"
          height="314.053"
          rx="20"
          fill="black"
          fill-opacity="0.56"></rect>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1078.94 277.489C1091.12 287.531 1118.85 302.167 1135.16 301.49C1157.29 300.574 1161.06 290.836 1164.29 284.338C1164.29 284.338 1159.19 283.801 1153.5 282.588C1142.49 280.255 1119.14 270.575 1096.91 273.98C1084.78 275.838 1073.02 273.702 1067.44 270.602C1061.88 267.514 1078.93 277.471 1078.93 277.471L1078.94 277.489Z"
          fill="#B8CFA3"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1143.99 285.292C1144.41 285.107 1145.2 285.427 1145.76 286.028C1146.33 286.621 1146.43 287.254 1146.01 287.439C1140.84 289.75 1132.07 289.52 1122.39 288.035C1109 285.975 1093.79 281.485 1083.95 277.964C1078.78 276.119 1074.14 274.244 1070.2 272.544C1069.67 272.309 1068.14 271.674 1067.05 271.175C1065.54 270.489 1061.44 266.842 1068.51 269.962C1072.64 271.782 1077.68 273.841 1083.41 275.897C1093.08 279.354 1108.07 283.781 1121.26 285.814C1130.63 287.252 1139.08 287.494 1143.99 285.292Z"
          fill="#394132"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M92.0736 121.497C91.3776 112.853 78.5016 96.8341 58.1893 91.5478C30.6241 84.3728 12.7661 87.4307 0 89.2094C0 89.2094 5.32992 91.1981 10.44 93.6863C20.3123 98.493 34.8001 110.804 65.9186 116.9C82.8974 120.228 93.9601 125.204 96.3228 128.492C98.7039 131.78 92.0919 121.497 92.0919 121.497H92.0736Z"
          fill="#B8CFA3"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M25.4401 95.7559C24.6892 95.696 24.1946 95.2763 24.3412 94.8166C24.4877 94.3569 25.2203 94.0371 25.9896 94.0971C35.3123 94.8366 45.4226 97.9444 54.8919 101.922C67.9877 107.428 79.9296 114.633 86.7797 119.569C90.3879 122.168 93.3368 124.586 95.6812 126.694C95.9926 126.974 96.9267 127.784 97.5494 128.373C98.4103 129.203 98.282 132.221 94.1427 128.413C91.725 126.185 88.5747 123.547 84.5818 120.679C77.8233 115.822 66.0829 108.717 53.1885 103.301C44.0306 99.4533 34.305 96.4554 25.4401 95.7459V95.7559Z"
          fill="#394132"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1077.71 259.6C1093.55 259.14 1122.76 251.945 1132.25 240.803C1145.11 225.684 1139.34 215.98 1135.93 209.035C1135.93 209.035 1132.34 211.963 1127.84 214.771C1119.12 220.207 1096.72 228.242 1085.86 245.27C1079.94 254.564 1070.93 260.649 1064.92 261.978C1058.91 263.308 1077.71 259.59 1077.71 259.59V259.6Z"
          fill="#B8CFA3"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1124.19 222.985C1124.3 222.575 1125.05 222.295 1125.89 222.375C1126.74 222.455 1127.32 222.855 1127.21 223.264C1125.95 228.361 1120.36 233.907 1113.18 239.113C1103.22 246.318 1090.14 252.904 1081.17 256.691C1076.44 258.69 1072.05 260.319 1068.2 261.618C1067.69 261.798 1066.22 262.307 1065.14 262.657C1063.64 263.137 1058.09 263.097 1065.03 260.798C1069.1 259.459 1073.9 257.71 1079.12 255.502C1087.96 251.765 1100.84 245.289 1110.64 238.194C1117.6 233.158 1123 227.821 1124.19 222.985Z"
          fill="#394132"></path>
        <path
          d="M528.55 301.918H528.614C528.614 301.981 528.359 302.045 528.041 302.045C524.35 301.981 521.296 302.045 517.796 301.918C515.759 302.172 509.141 302.236 508.123 302.236C507.932 302.236 507.868 302.045 507.868 301.79C507.868 301.599 507.932 301.409 508.186 301.409C508.377 301.409 513.786 301.727 516.459 301.727C517.159 301.727 517.668 301.727 517.859 301.663C516.65 301.663 513.85 300.327 513.596 297.145C512.768 286.836 512.068 274.172 511.623 263.609H511.368C509.205 268.636 500.296 289.636 496.223 300.581C496.159 300.836 495.968 300.899 495.777 300.899C495.586 300.899 495.396 300.836 495.268 300.581C490.686 288.999 485.532 274.49 480.759 263.609H480.441C479.614 274.236 478.977 288.809 478.596 295.554C478.341 301.154 483.05 301.727 484.068 301.727C484.641 301.727 484.896 301.918 484.896 302.045C484.896 302.109 484.768 302.172 484.577 302.172C482.732 302.045 478.214 301.981 477.068 301.854C475.35 301.981 470.705 302.045 468.732 302.172C468.541 302.172 468.477 302.109 468.477 302.045C468.477 301.918 468.732 301.727 469.305 301.727C470.259 301.727 475.032 301.154 475.605 295.554C477.068 281.427 477.386 275.19 477.896 263.163C478.086 258.199 473.95 257.627 472.996 257.627C472.423 257.627 472.168 257.436 472.168 257.309C472.168 257.245 472.296 257.181 472.423 257.181C474.396 257.309 478.15 257.372 479.868 257.499C481.268 257.499 483.114 257.372 484.45 257.372C485.596 257.372 486.486 257.436 486.55 257.69C490.368 268.763 493.677 278.499 497.941 288.299C501.886 279.199 510.859 258.581 511.305 257.372C511.432 257.054 513.023 256.99 515.123 256.99C517.986 256.99 521.614 257.118 523.714 257.118C524.096 257.118 524.159 257.563 523.841 257.563C520.85 257.563 517.541 257.881 517.541 262.781C517.541 268.254 520.086 288.809 521.105 295.49C521.868 301.027 524.986 301.663 526.896 301.663C528.105 301.663 528.55 301.79 528.55 301.918ZM557.006 283.527C557.006 283.718 556.942 283.845 555.988 283.909C552.551 284.354 543.579 285.054 538.042 285.499C538.169 293.581 541.797 299.945 548.033 299.945C551.597 299.945 554.206 299.245 556.051 296.763C556.369 296.318 556.688 296.572 556.497 296.827C553.951 300.581 549.688 302.618 545.233 302.618C534.988 302.618 530.279 294.663 530.279 286.518C530.279 277.99 535.497 269.781 545.042 269.781C551.406 269.781 556.688 273.409 557.006 283.527ZM548.415 283.527C549.433 283.399 549.815 283.272 549.751 281.681C549.497 274.172 547.969 270.736 544.215 270.736C540.142 270.736 538.106 276.399 538.042 284.099C538.233 284.099 538.488 284.099 538.742 284.099C541.606 284.099 544.788 283.909 548.415 283.527ZM590.297 283.527C590.297 283.718 590.233 283.845 589.279 283.909C585.842 284.354 576.87 285.054 571.333 285.499C571.46 293.581 575.088 299.945 581.324 299.945C584.888 299.945 587.497 299.245 589.342 296.763C589.66 296.318 589.979 296.572 589.788 296.827C587.242 300.581 582.979 302.618 578.524 302.618C568.279 302.618 563.57 294.663 563.57 286.518C563.57 277.99 568.788 269.781 578.333 269.781C584.697 269.781 589.979 273.409 590.297 283.527ZM581.706 283.527C582.724 283.399 583.106 283.272 583.042 281.681C582.788 274.172 581.26 270.736 577.506 270.736C573.433 270.736 571.397 276.399 571.333 284.099C571.524 284.099 571.779 284.099 572.033 284.099C574.897 284.099 578.079 283.909 581.706 283.527ZM614.273 296.827C614.337 296.636 614.591 296.827 614.528 296.954C613.191 299.818 610.009 302.554 604.918 302.554C598.746 302.554 598.364 298.863 598.364 293.263V272.009C596.709 271.945 594.737 271.945 593.655 271.945C593.464 271.945 593.4 271.563 593.4 271.181C593.4 270.799 593.464 270.481 593.655 270.481C594.928 270.481 596.073 270.099 597.664 269.527C601.991 267.999 603.264 262.845 603.964 260.172C603.964 260.045 604.346 259.918 604.664 259.918C604.918 259.918 605.173 259.981 605.173 260.172C605.109 260.936 604.791 263.609 604.664 270.036C605.173 270.036 605.682 270.036 606.191 270.036C608.991 270.036 611.918 269.909 613.064 269.399C613.318 269.336 613.446 269.781 613.446 270.29C613.446 271.118 613.191 272.263 612.937 272.263C611.409 272.263 605.873 272.072 604.664 272.072V293.518C604.664 297.845 605.682 299.945 607.718 299.945C610.264 299.945 612.746 298.99 614.273 296.827ZM656.861 296.827C656.925 296.636 657.179 296.827 657.115 296.954C655.779 299.818 652.597 302.554 647.506 302.554C641.334 302.554 640.952 298.863 640.952 293.263V272.009C639.297 271.945 637.325 271.945 636.243 271.945C636.052 271.945 635.988 271.563 635.988 271.181C635.988 270.799 636.052 270.481 636.243 270.481C637.515 270.481 638.661 270.099 640.252 269.527C644.579 267.999 645.852 262.845 646.552 260.172C646.552 260.045 646.934 259.918 647.252 259.918C647.506 259.918 647.761 259.981 647.761 260.172C647.697 260.936 647.379 263.609 647.252 270.036C647.761 270.036 648.27 270.036 648.779 270.036C651.579 270.036 654.506 269.909 655.652 269.399C655.906 269.336 656.034 269.781 656.034 270.29C656.034 271.118 655.779 272.263 655.525 272.263C653.997 272.263 648.461 272.072 647.252 272.072V293.518C647.252 297.845 648.27 299.945 650.306 299.945C652.852 299.945 655.334 298.99 656.861 296.827ZM696.858 301.727C698.449 301.727 698.449 301.854 698.449 301.981C698.449 302.045 698.258 302.109 697.94 302.109C693.677 302.109 690.749 302.554 688.84 302.554C686.167 302.554 685.34 301.727 685.34 297.59C685.34 293.899 685.658 286.518 685.658 280.472C685.658 274.872 684.704 270.927 680.886 270.927C676.431 270.927 672.422 276.527 672.231 281.299V281.809C672.231 281.936 672.231 281.999 672.231 282.127V282.063C672.167 285.309 672.104 288.045 672.104 289.572C672.104 291.672 672.167 293.709 672.358 295.554C672.804 299.754 674.267 301.727 677.195 301.727C678.404 301.727 678.849 301.854 678.849 301.981C678.849 302.045 678.658 302.109 678.34 302.109C674.649 302.045 672.422 301.981 668.858 301.854C665.486 301.981 663.322 302.045 659.44 302.109C659.313 302.109 658.867 302.109 658.867 301.981C658.867 301.854 659.377 301.727 660.522 301.727C662.431 301.727 664.977 301.09 665.358 295.554C665.613 292.309 665.995 285.754 665.995 280.345C665.995 278.054 665.931 261.572 665.74 260.109C665.422 257.118 663.577 256.609 661.858 256.672C661.286 256.672 659.058 256.99 658.931 256.99C658.867 256.99 658.804 256.99 658.804 256.99C658.358 256.99 658.231 256.927 658.167 256.863C658.167 256.799 658.358 256.672 658.74 256.609C662.558 256.227 665.74 255.209 669.113 254.827C671.595 254.572 672.613 255.654 672.613 259.281C672.613 260.618 672.486 268.127 672.295 275.445C674.586 272.199 678.277 269.399 682.858 269.399C688.777 269.399 692.277 272.327 692.277 277.863C692.277 279.327 692.213 282.445 692.213 285.245C692.213 286.581 692.213 287.854 692.277 288.872C692.467 296.063 691.767 301.727 696.858 301.727ZM727.631 283.527C727.631 283.718 727.567 283.845 726.613 283.909C723.176 284.354 714.204 285.054 708.667 285.499C708.794 293.581 712.422 299.945 718.658 299.945C722.222 299.945 724.831 299.245 726.676 296.763C726.994 296.318 727.313 296.572 727.122 296.827C724.576 300.581 720.313 302.618 715.858 302.618C705.613 302.618 700.904 294.663 700.904 286.518C700.904 277.99 706.122 269.781 715.667 269.781C722.031 269.781 727.313 273.409 727.631 283.527ZM719.04 283.527C720.058 283.399 720.44 283.272 720.376 281.681C720.122 274.172 718.594 270.736 714.84 270.736C710.767 270.736 708.731 276.399 708.667 284.099C708.858 284.099 709.113 284.099 709.367 284.099C712.231 284.099 715.413 283.909 719.04 283.527Z"
          fill="white"></path>
        <path
          d="M553.442 333.686V333.75C553.314 334.831 552.996 345.077 552.996 346.922C552.996 347.24 552.551 347.177 552.551 346.922C552.551 346.031 552.614 345.777 552.614 343.104C552.614 338.65 545.232 336.359 540.078 336.359C539.887 336.359 539.187 336.359 538.487 336.359C538.36 337.059 538.36 339.668 538.36 343.422C538.36 347.05 538.36 351.759 538.36 356.977C538.36 364.168 538.869 371.359 538.869 372.568C539.442 378.104 542.496 378.74 544.405 378.74C545.614 378.74 546.06 378.868 546.06 378.995C546.06 379.059 545.869 379.122 545.487 379.122C541.796 379.059 538.932 378.995 535.369 378.868C531.996 378.995 529.132 379.059 525.251 379.122C524.932 379.122 524.678 379.059 524.678 378.995C524.678 378.868 525.187 378.74 526.332 378.74C528.242 378.74 531.36 378.104 531.869 372.568C531.932 371.359 532.314 364.168 532.314 356.977C532.314 351.695 532.378 346.986 532.378 343.359C532.378 339.604 532.314 337.059 532.251 336.359C527.287 336.359 524.042 336.868 520.542 339.095C518.123 340.686 516.342 343.868 515.96 347.559C515.896 348.195 515.769 348.45 515.642 348.45C515.578 348.45 515.451 348.131 515.578 347.495C516.023 344.568 516.342 340.05 516.405 339.031C516.66 336.931 516.851 333.304 516.914 332.54C517.042 331.777 517.232 331.65 517.423 331.65H517.487C517.678 331.65 517.742 331.65 517.678 332.222C517.614 333.113 516.278 341.959 516.469 341.959C516.723 341.959 517.678 334.004 520.032 334.004C521.051 334.004 529.132 334.386 535.305 334.45C541.16 334.322 546.887 334.45 552.105 334.322C552.996 334.322 553.187 333.495 553.314 333.495C553.442 333.495 553.442 333.686 553.442 333.75V333.686ZM583.358 360.54C583.358 360.731 583.295 360.859 582.34 360.922C578.904 361.368 569.931 362.068 564.395 362.513C564.522 370.595 568.149 376.959 574.386 376.959C577.949 376.959 580.558 376.259 582.404 373.777C582.722 373.331 583.04 373.586 582.849 373.84C580.304 377.595 576.04 379.631 571.586 379.631C561.34 379.631 556.631 371.677 556.631 363.531C556.631 355.004 561.849 346.795 571.395 346.795C577.758 346.795 583.04 350.422 583.358 360.54ZM574.767 360.54C575.786 360.413 576.167 360.286 576.104 358.695C575.849 351.186 574.322 347.75 570.567 347.75C566.495 347.75 564.458 353.413 564.395 361.113C564.586 361.113 564.84 361.113 565.095 361.113C567.958 361.113 571.14 360.922 574.767 360.54ZM620.02 378.995C620.02 379.122 619.892 379.186 619.447 379.186C616.647 379.186 613.338 379.568 611.11 379.568C607.865 379.568 607.101 378.168 607.101 375.75C607.101 372.822 607.356 371.104 607.356 369.64H607.038C605.956 374.031 601.183 379.504 596.22 379.504C592.465 379.504 588.392 377.15 588.392 371.231C588.392 362.704 598.32 360.604 604.62 360.604C605.765 360.604 606.592 360.604 607.101 360.668C607.101 351.122 605.256 347.686 601.247 347.686C597.238 347.686 595.965 350.868 595.965 355.004C595.965 356.086 596.029 357.168 596.22 358.313C596.283 358.631 596.092 358.822 595.965 358.822C595.074 358.822 589.983 357.168 589.983 354.304C589.983 349.022 597.174 346.859 601.82 346.859C612.065 346.859 613.656 351.695 613.338 358.122C613.274 359.65 613.147 365.631 613.147 367.413C613.147 376.322 613.974 378.74 618.365 378.74C619.574 378.74 620.02 378.868 620.02 378.995ZM607.101 361.559C607.101 361.495 605.956 361.495 605.383 361.495C601.438 361.495 595.265 364.104 595.265 371.04C595.265 374.095 596.729 375.813 598.638 375.813C603.729 375.813 607.483 367.922 607.101 361.559ZM640.289 359.331C641.371 359.331 642.198 359.459 642.198 359.968C642.198 360.731 640.989 360.859 639.971 361.05C638.252 361.304 626.989 362.831 624.825 363.404C623.616 363.722 622.534 364.359 622.216 364.359C621.834 364.359 621.771 363.977 621.898 363.404L622.852 359.84C622.98 359.395 623.234 359.331 624.252 359.331H640.289ZM703.158 378.74C704.812 378.74 704.812 378.868 704.812 378.995C704.812 379.059 704.621 379.186 704.24 379.186C700.04 379.186 697.112 379.568 695.203 379.568C692.53 379.568 691.703 378.74 691.703 374.604C691.703 370.913 692.021 363.531 692.021 357.486C692.021 351.886 691.067 348.004 687.249 348.004C682.921 348.004 678.976 353.159 678.53 357.868C678.53 359.204 678.53 360.795 678.53 362.259C678.53 363.595 678.53 364.868 678.53 365.886C678.721 373.077 678.085 378.74 683.112 378.74C684.767 378.74 684.767 378.868 684.767 378.995C684.767 379.059 684.576 379.186 684.194 379.186C681.585 379.186 679.485 379.186 677.83 379.186C672.93 379.186 671.658 378.677 671.658 374.604C671.658 370.913 671.912 363.531 671.912 357.486C671.912 351.886 671.021 348.004 667.203 348.004C662.94 348.004 658.994 353.095 658.485 357.74C658.485 358.122 658.485 358.568 658.421 359.013C658.421 359.013 658.421 359.077 658.421 359.14V359.077C658.421 359.904 658.421 360.731 658.421 361.559C658.421 365.313 658.421 370.722 658.612 372.568C658.994 376.768 660.267 378.74 663.258 378.74C664.403 378.74 664.912 378.868 664.912 378.995C664.912 379.059 664.658 379.122 664.34 379.122C660.649 379.059 658.612 378.995 655.112 378.868C651.74 378.995 649.576 379.059 645.694 379.122C645.567 379.122 645.121 379.122 645.121 378.995C645.121 378.868 645.63 378.74 646.776 378.74C648.685 378.74 651.23 378.104 651.612 372.568C651.93 368.304 652.249 360.731 652.249 356.022C652.249 354.431 652.249 353.095 652.121 352.395C651.803 349.659 649.83 348.45 648.176 348.45C647.921 348.45 645.821 348.768 645.694 348.768C645.63 348.768 645.503 348.768 645.44 348.768C645.121 348.768 644.93 348.704 644.93 348.64C644.93 348.577 645.121 348.45 645.44 348.45C649.258 347.94 651.93 346.922 655.303 346.54C655.621 346.477 655.94 346.477 656.258 346.477C658.167 346.477 658.93 347.368 658.93 349.34C658.93 349.913 658.93 350.613 658.867 351.504C661.349 348.64 665.294 346.413 669.176 346.413C674.076 346.413 677.321 348.45 678.276 352.331C680.63 349.086 684.958 346.413 689.221 346.413C695.14 346.413 698.64 349.34 698.64 354.877C698.64 356.34 698.576 359.459 698.576 362.259C698.576 363.595 698.576 364.868 698.64 365.886C698.83 373.077 698.13 378.74 703.158 378.74Z"
          fill="white"></path>
        <g clip-path="url(#clip0_325_1775)">
          <path
            opacity="0.08"
            d="M962.604 529.988C1020.1 529.988 1066.72 514.428 1066.72 495.232C1066.72 476.037 1020.1 460.477 962.604 460.477C905.104 460.477 858.492 476.037 858.492 495.232C858.492 514.428 905.104 529.988 962.604 529.988Z"
            fill="#B8CFA3"></path>
          <path
            d="M1018.08 493.984C1014.49 487.733 984.296 482.842 947.569 482.842C910.843 482.842 880.653 487.723 877.055 493.984L876.695 493.524V495.244C876.695 502.085 908.423 507.576 947.569 507.636C986.525 507.696 1017.97 502.245 1018.44 495.244V493.524L1018.08 493.984Z"
            fill="#B8CFA3"></path>
          <path
            d="M947.569 505.905C986.712 505.905 1018.44 500.357 1018.44 493.513C1018.44 486.669 986.712 481.121 947.569 481.121C908.426 481.121 876.695 486.669 876.695 493.513C876.695 500.357 908.426 505.905 947.569 505.905Z"
            fill="#B8CFA3"></path>
          <path
            opacity="0.08"
            d="M947.569 501.555C976.813 501.555 1000.52 497.955 1000.52 493.514C1000.52 489.073 976.813 485.473 947.569 485.473C918.325 485.473 894.618 489.073 894.618 493.514C894.618 497.955 918.325 501.555 947.569 501.555Z"
            fill="#B8CFA3"></path>
          <path
            d="M991.514 477.231L991.024 469.389L1019.25 467.629C1030.75 466.909 1039.61 456.967 1039 445.455C1038.65 438.924 1035.38 433.033 1030.03 429.283C1024.67 425.532 1018.02 424.482 1011.78 426.392L1008.8 427.302L1006.5 419.791L1009.48 418.881C1018.05 416.25 1027.18 417.701 1034.54 422.841C1041.89 427.982 1046.37 436.074 1046.84 445.035C1047.67 460.828 1035.52 474.48 1019.74 475.46L991.514 477.221V477.231Z"
            fill="#B8CFA3"></path>
          <path
            d="M991.024 469.389L991.514 477.231L1007.95 476.21C1010.14 473.55 1012.2 470.789 1014.1 467.959L991.024 469.399V469.389Z"
            fill="#B8CFA3"></path>
          <path
            d="M1028.75 419.691C1022.67 417.231 1015.93 416.911 1009.48 418.881L1006.5 419.791L1008.8 427.303L1011.78 426.392C1017.44 424.652 1023.44 425.372 1028.5 428.313C1028.74 425.482 1028.83 422.612 1028.74 419.691H1028.75Z"
            fill="#B8CFA3"></path>
          <path
            d="M1022.68 409.45C1022.75 407.499 1021.2 405.879 1019.26 405.879H875.885C873.936 405.879 872.397 407.509 872.467 409.45C873.666 442.495 884.532 477.151 910.983 493.584C910.983 496.654 927.367 499.145 947.57 499.145C967.772 499.145 984.157 496.654 984.157 493.584C1010.62 477.151 1021.47 442.495 1022.67 409.45H1022.68Z"
            fill="#B8CFA3"></path>
          <path
            opacity="0.08"
            d="M1022.68 409.45C1022.75 407.499 1021.2 405.879 1019.26 405.879H1006.9C1003.86 438.394 992.304 475.231 959.745 485.182C944.061 490.073 928.167 493.244 912.172 495.004C916.291 497.394 930.576 499.155 947.57 499.155C967.782 499.155 984.156 496.664 984.156 493.594C1010.62 477.161 1021.47 442.505 1022.67 409.46L1022.68 409.45Z"
            fill="#B8CFA3"></path>
          <path
            d="M984.137 493.764C983.537 496.754 967.393 499.145 947.57 499.145C927.747 499.145 911.603 496.754 911.003 493.764C917.251 495.884 931.276 497.364 947.57 497.364C963.864 497.364 977.879 495.884 984.137 493.764Z"
            fill="#B8CFA3"></path>
          <path
            d="M947.57 418.769C988.772 418.769 1022.17 413.696 1022.17 407.437C1022.17 401.179 988.772 396.105 947.57 396.105C906.367 396.105 872.966 401.179 872.966 407.437C872.966 413.696 906.367 418.769 947.57 418.769Z"
            fill="#B8CFA3"></path>
          <path
            opacity="0.21"
            d="M1019.03 407.448C1019.03 409.569 1014.54 411.539 1006.84 413.169C1005.7 413.409 1004.5 413.649 1003.23 413.869C994.063 415.5 981.517 416.71 967.103 417.29C966.943 417.29 966.793 417.31 966.623 417.31C966.103 417.33 965.593 417.35 965.063 417.37C961.255 417.51 957.326 417.6 953.287 417.65C951.398 417.67 949.489 417.68 947.56 417.68C933.275 417.68 919.969 417.09 908.793 416.05C906.754 415.86 904.795 415.65 902.906 415.44C898.857 414.98 895.178 414.459 891.91 413.869C885.572 412.749 880.854 411.429 878.294 409.979C876.855 409.169 876.095 408.318 876.095 407.448C876.095 407.228 876.145 406.998 876.255 406.778C877.535 403.958 886.821 401.427 900.896 399.697C903.006 399.437 905.225 399.187 907.544 398.977C908.034 398.917 908.524 398.877 909.033 398.827C909.823 398.747 910.623 398.677 911.442 398.617C912.512 398.527 913.592 398.437 914.701 398.357C915.011 398.337 915.331 398.317 915.651 398.287C915.711 398.287 915.761 398.287 915.821 398.287C916.241 398.257 916.671 398.227 917.1 398.197C918.93 398.067 920.799 397.967 922.708 397.867C924.378 397.767 926.067 397.687 927.787 397.627C934.054 397.367 940.692 397.227 947.54 397.227C967.552 397.227 985.636 398.407 998.611 400.307C1002.66 400.897 1006.21 401.557 1009.16 402.277C1009.72 402.417 1010.25 402.547 1010.76 402.687C1016.03 404.108 1019.01 405.738 1019.01 407.468L1019.03 407.448Z"
            fill="#B8CFA3"></path>
          <path
            opacity="0.21"
            d="M1019.03 407.448C1019.03 409.569 1014.54 411.539 1006.84 413.169C1005.7 413.409 1004.5 413.649 1003.23 413.869C994.063 415.5 981.517 416.71 967.103 417.29C966.943 417.29 966.793 417.31 966.623 417.31C966.103 417.33 965.593 417.35 965.063 417.37C961.255 417.51 957.326 417.6 953.287 417.65C951.398 417.67 949.489 417.68 947.56 417.68C933.275 417.68 919.969 417.09 908.793 416.05C906.754 415.86 904.795 415.65 902.906 415.44C898.857 414.98 895.178 414.459 891.91 413.869C885.572 412.749 880.854 411.429 878.294 409.979C876.855 409.169 876.095 408.318 876.095 407.448C876.095 407.228 876.145 406.998 876.255 406.778C877.535 403.958 886.821 401.427 900.896 399.697C903.006 399.437 905.225 399.187 907.544 398.977C908.034 398.917 908.524 398.877 909.033 398.827C909.823 398.747 910.623 398.677 911.442 398.617C912.512 398.527 913.592 398.437 914.701 398.357C915.011 398.337 915.331 398.317 915.651 398.287C915.711 398.287 915.761 398.287 915.821 398.287C916.241 398.257 916.671 398.227 917.1 398.197C918.93 398.067 920.799 397.967 922.708 397.867C924.378 397.767 926.067 397.687 927.787 397.627C934.054 397.367 940.692 397.227 947.54 397.227C967.552 397.227 985.636 398.407 998.611 400.307C1002.66 400.897 1006.21 401.557 1009.16 402.277C1009.72 402.417 1010.25 402.547 1010.76 402.687C1016.03 404.108 1019.01 405.738 1019.01 407.468L1019.03 407.448Z"
            fill="#B8CFA3"></path>
          <path
            d="M1001.28 405.949L997.951 398.828L1023.58 386.845C1034.02 381.965 1038.62 369.463 1033.84 358.981C1031.13 353.03 1025.93 348.749 1019.57 347.219C1013.22 345.699 1006.64 347.149 1001.53 351.219L999.091 353.16L994.203 347.009L996.642 345.068C1003.66 339.477 1012.69 337.477 1021.41 339.567C1030.13 341.658 1037.27 347.549 1041 355.71C1047.55 370.103 1041.24 387.256 1026.92 393.957L1001.29 405.939L1001.28 405.949Z"
            fill="#B8CFA3"></path>
          <path
            d="M999.101 353.168L994.213 347.017L996.652 345.077C1002.07 340.776 1008.68 338.586 1015.43 338.786L1016.25 346.697C1010.99 346.287 1005.76 347.878 1001.55 351.228L999.111 353.168H999.101Z"
            fill="#B8CFA3"></path>
          <path
            d="M1021.4 396.537L1001.29 405.958L997.951 398.837L1020.55 388.275L1021.4 396.537Z"
            fill="#B8CFA3"></path>
          <path
            d="M1013.11 391.756C1012.64 395.006 1012 398.217 1011.15 401.337C1011.03 401.787 1010.91 402.227 1010.78 402.658C1009.74 406.268 1008.43 409.789 1006.84 413.159C1005.7 413.399 1004.5 413.639 1003.23 413.859C994.063 415.49 981.518 416.7 967.103 417.28C966.943 417.36 966.793 417.43 966.633 417.5C966.633 417.5 966.633 417.43 966.633 417.3C966.113 417.32 965.603 417.34 965.073 417.36C961.265 417.5 957.336 417.59 953.298 417.64C951.408 417.66 949.499 417.67 947.57 417.67C933.285 417.67 919.98 417.08 908.804 416.04C906.764 415.85 904.805 415.64 902.916 415.43C898.867 414.97 895.189 414.45 891.92 413.859C885.582 412.739 880.864 411.419 878.305 409.969C877.605 408.919 876.925 407.848 876.255 406.768C872.237 400.287 868.708 393.446 865.679 386.505C865.399 385.855 865.329 385.165 865.449 384.514C865.649 383.374 866.409 382.384 867.559 381.924L868.538 381.534L999.981 329.765L1000.96 329.375C1002.11 328.925 1003.36 329.145 1004.27 329.845C1004.8 330.235 1005.22 330.775 1005.46 331.455C1006.4 334.106 1007.27 336.806 1008.07 339.527C1008.82 342.027 1009.5 344.568 1010.13 347.118C1013.75 362.021 1015.17 377.423 1013.1 391.756H1013.11Z"
            fill="#B8CFA3"></path>
          <path
            d="M1004.27 329.775C1006.56 335.596 977.339 352.569 939.003 367.662C900.666 382.764 867.728 390.275 865.429 384.454C863.14 378.633 892.359 361.671 930.696 346.568C969.032 331.465 1001.97 323.954 1004.27 329.775Z"
            fill="#B8CFA3"></path>
          <path
            opacity="0.21"
            d="M1001.35 330.926C1002.24 333.197 997.552 337.437 988.985 342.698C977.649 349.66 959.515 358.401 938.603 366.642C917.68 374.884 898.467 380.855 885.422 383.485C875.565 385.476 869.248 385.566 868.348 383.305C866.279 378.044 894.369 362.052 931.096 347.589C967.822 333.127 999.271 325.665 1001.34 330.926H1001.35Z"
            fill="#B8CFA3"></path>
          <path
            opacity="0.21"
            d="M1001.45 331.366C1001.65 333.706 997.022 337.757 988.985 342.698C977.639 349.669 959.515 358.41 938.593 366.642C917.7 374.883 898.497 380.844 885.462 383.484C885.442 383.504 885.432 383.504 885.432 383.504C875.565 385.495 869.248 385.575 868.348 383.324C866.279 378.064 894.369 362.071 931.096 347.608C934.014 346.468 936.903 345.348 939.732 344.308C951.758 339.827 962.944 336.196 972.431 333.606C988.895 329.145 1000.14 327.865 1001.35 330.956C1001.4 331.086 1001.43 331.226 1001.45 331.386V331.366Z"
            fill="#B8CFA3"></path>
          <path
            opacity="0.08"
            d="M871.967 399.327C873.336 401.847 874.756 404.348 876.265 406.778C876.925 407.858 877.605 408.928 878.315 409.979C880.874 411.419 885.592 412.749 891.93 413.869C895.188 414.449 898.867 414.979 902.926 415.44C904.815 415.65 906.784 415.86 908.814 416.05C919.98 417.08 933.295 417.68 947.58 417.68C949.509 417.68 951.418 417.68 953.308 417.65C957.336 417.6 961.275 417.5 965.083 417.37C965.613 417.35 966.123 417.33 966.643 417.31C966.643 417.45 966.643 417.51 966.643 417.51C966.803 417.43 966.953 417.36 967.113 417.29C981.527 416.72 994.073 415.5 1003.24 413.869C1004.52 413.649 1005.71 413.409 1006.85 413.169C1008.45 409.799 1009.75 406.278 1010.79 402.667C1010.92 402.227 1011.04 401.787 1011.16 401.347C1011.62 399.667 1012.01 397.957 1012.35 396.236C1009.67 398.297 1006.78 399.797 1003.57 400.437C960.425 410.539 909.483 423.241 871.977 399.337L871.967 399.327Z"
            fill="#B8CFA3"></path>
          <ellipse
            cx="66.4492"
            cy="6.0006"
            rx="66.4492"
            ry="6.0006"
            transform="matrix(0.931329 -0.36418 0.363845 0.931459 871.398 376.232)"
            fill="#F4F0E5"></ellipse>
        </g>
        <path
          d="M376.08 143.141L378.854 196.023C378.854 196.023 410.837 203.294 421.244 177.537C431.347 152.519 448.234 151.905 465.07 169.238C466.369 170.576 468.741 169.695 468.742 167.83L468.742 163.904C468.743 162.571 469.406 161.326 470.512 160.583L473.368 158.663C474.321 158.023 474.543 156.733 473.803 155.856C467.464 148.336 439.278 118.33 411.005 142.186C397.586 151.965 391.208 152.58 376.078 143.131L376.08 143.141Z"
          fill="#B8CFA3"></path>
        <path
          d="M405.302 193.484C392.654 199.192 378.164 195.892 378.164 195.892L375.399 142.999C383.051 147.775 388.448 149.981 393.673 149.73C395.361 160.023 399.27 180.568 405.302 193.484Z"
          fill="#B8CFA3"></path>
        <path
          d="M163.953 116.821L169.657 124.637C172.385 128.364 173.741 132.949 173.488 137.561C172.851 149.193 178.414 160.109 187.764 166.487C189.69 167.816 191.783 168.933 194.011 169.844L206.761 174.99L211.564 163.098L198.814 157.952C190.846 154.733 185.817 146.83 186.284 138.252C186.538 133.407 185.728 128.574 183.906 124.111C182.904 121.616 181.6 119.255 180.003 117.077L174.31 109.259C164.557 95.8965 166.201 77.1658 178.12 65.6875C191.057 53.2398 211.854 53.4192 224.575 66.051C224.635 66.1015 224.686 66.1636 224.746 66.2141C228.928 70.418 233.839 73.6826 239.33 75.9021L245.738 78.4896L250.541 66.5977L244.133 64.0103C241.59 62.982 239.226 61.6483 237.083 60.0021C235.938 59.1361 234.863 58.207 233.841 57.1772C216.236 39.4589 187.254 39.1337 169.239 56.4664C152.729 72.3591 150.452 98.3057 163.953 116.821Z"
          fill="#B8CFA3"></path>
        <path
          d="M233.828 57.191C234.85 58.2207 235.926 59.1596 237.07 60.0158C239.212 61.652 241.577 62.9955 244.12 64.0236L250.527 66.611L245.725 78.5021L239.317 75.9148C233.827 73.6954 228.915 70.431 224.734 66.2274C224.674 66.1769 224.623 66.1148 224.563 66.0642C224.158 65.6579 223.734 65.2649 223.312 64.8817C226.411 61.9255 229.704 59.1487 233.195 56.5809C233.403 56.7881 233.62 56.9837 233.828 57.191Z"
          fill="#B8CFA3"></path>
        <path
          d="M185.916 131.288C186.284 133.578 186.417 135.92 186.286 138.258C185.819 146.835 190.849 154.749 198.816 157.958L211.566 163.104L206.763 174.996L194.013 169.85C191.776 168.951 189.692 167.822 187.766 166.493C185.521 164.966 183.505 163.176 181.737 161.18C181.283 153.321 182.105 145.382 184.103 137.847C184.667 135.657 185.271 133.471 185.916 131.288Z"
          fill="#B8CFA3"></path>
        <path
          d="M265.018 59.2782L374.517 103.478C391.626 128.031 396.8 158.717 385.59 186.463C373.927 215.335 347.306 234.178 316.427 239.158L316.407 239.161C315.524 240.797 310.629 240.656 303.096 239.067C292.898 236.917 277.895 232.114 261.555 225.514C245.226 218.922 231.085 211.959 222.247 206.426C215.733 202.345 212.105 199.049 212.613 197.245L212.58 197.231C193.807 172.206 187.748 140.173 199.414 111.311C210.623 83.5644 235.65 65.0702 265.008 59.28L265.018 59.2782Z"
          fill="#B8CFA3"></path>
        <path
          d="M327.947 39.693C326.309 43.7546 328.27 48.3762 332.331 50.0227C336.391 51.6593 341.013 49.6962 342.661 45.6328C344.299 41.5712 342.338 36.9497 338.276 35.3032C334.216 33.6666 329.595 35.6297 327.947 39.693Z"
          fill="#B8CFA3"></path>
        <path
          d="M339.728 49.2485C337.619 50.6619 334.864 51.0409 332.332 50.0208C328.272 48.3841 326.311 43.7624 327.947 39.6908C328.514 38.2824 329.441 37.1361 330.575 36.2989C332.269 41.6675 335.508 45.9344 339.717 49.2404L339.728 49.2485Z"
          fill="#B8CFA3"></path>
        <path
          d="M264.945 59.3628C264.194 61.2294 268.038 64.7713 275.075 69.177C284.401 75.0105 299.308 82.3574 316.543 89.3186C333.776 96.27 349.607 101.345 360.373 103.608C368.494 105.318 373.722 105.441 374.483 103.573C374.56 103.377 374.566 103.173 374.548 102.953C374.562 102.92 374.575 102.877 374.58 102.846C374.844 102.15 375.068 101.451 375.237 100.732C380.079 82.3584 362.08 59.098 333.353 47.5031C304.669 35.9211 275.605 40.1273 266.267 56.6354C265.9 57.2678 265.58 57.9327 265.28 58.6041C265.162 58.8581 265.054 59.1105 264.957 59.3709L264.945 59.3628Z"
          fill="#B8CFA3"></path>
        <path
          d="M212.646 197.259C212.148 199.062 215.774 202.347 222.279 206.43C231.116 211.963 245.256 218.926 261.584 225.518C277.912 232.109 292.923 236.911 303.111 239.062C310.633 240.653 315.509 240.797 316.421 239.156C315.124 238.936 262.978 230.035 212.646 197.259Z"
          fill="#394132"></path>
        <path
          d="M265.282 58.6049C266.655 60.6085 270.067 63.3021 275.056 66.431C284.6 72.4093 299.849 79.9198 317.476 87.0361C335.103 94.1524 351.298 99.3362 362.306 101.659C367.911 102.843 372.158 103.28 374.581 102.858C374.846 102.162 375.069 101.463 375.238 100.743C372.787 101.12 368.617 100.66 363.171 99.5088C352.152 97.1878 335.957 92.0039 318.34 84.8859C300.713 77.7697 285.464 70.2591 275.92 64.2808C271.081 61.2576 267.709 58.618 266.269 56.6363C265.902 57.2687 265.581 57.9336 265.282 58.6049Z"
          fill="#394132"></path>
        <path
          d="M338.879 49.7319C338.879 49.7319 333.489 50.3673 327.964 45.3223C327.964 45.3223 332.456 51.8973 338.879 49.7319Z"
          fill="#394132"></path>
        <path
          d="M262.015 80.3229L273.215 63.784L287.566 73.5125L276.317 90.1245C275.424 91.442 275.092 93.0602 275.392 94.6231L278.063 108.531C278.363 110.094 278.03 111.712 277.138 113.03L256.61 143.343C254.752 146.087 251.022 146.805 248.28 144.945L220.897 126.384C218.155 124.525 217.438 120.793 219.296 118.049L239.774 87.8091C240.696 86.4485 242.135 85.5254 243.755 85.2555L258.034 82.8765C259.654 82.6066 261.093 81.6835 262.015 80.3229Z"
          fill="#F4F0E5"></path>
        <defs>
          <clipPath id="clip0_325_1775">
            <rect
              width="442.941"
              height="399.978"
              fill="white"
              transform="translate(623.776 130.021)"></rect>
          </clipPath>
        </defs>
      </svg>

      <a
        class="absolute bottom-10 left-1/2 transform -translate-x-1/2 w-72 h-12 bg-color hover:bg-light flex items-center justify-center rounded-lg ml-4"
        href="/team/"
      >
        Lets Go
      </a>
    </div>
  </div>
</Layout>
