---
import Layout from "src/layouts/layout.astro";

const Block2DataTabs = [
  {
    name: "Green Tea",
    text: "B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la ",
    link: "#",
  },
  {
    name: "White Tea",
    text: "B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la ",
    link: "#",
  },
  {
    name: "Black Tea",
    text: "B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la B la ",
    link: "#",
  },
];

const Block2DataTeas = [
  [
    {
      name: "1",
      img: "pexels-charlotte-may-5946652",
      link: "#",
    },
    {
      name: "2",
      img: "pexels-charlotte-may-5946652",
      link: "#",
    },
    {
      name: "3",
      img: "pexels-charlotte-may-5946652",
      link: "#",
    },
    {
      name: "4",
      img: "pexels-charlotte-may-5946652",
      link: "#",
    },
    {
      name: "5",
      img: "pexels-charlotte-may-5946652",
      link: "#",
    },
  ],
  [
    {
      name: "6",
      img: "#",
      link: "#",
    },
    {
      name: "7",
      img: "#",
      link: "#",
    },
    {
      name: "8",
      img: "#",
      link: "#",
    },
    {
      name: "9",
      img: "#",
      link: "#",
    },
    {
      name: "10",
      img: "#",
      link: "#",
    },
  ],
  [
    {
      name: "11",
      img: "#",
      link: "#",
    },
    {
      name: "12",
      img: "#",
      link: "#",
    },
    {
      name: "13",
      img: "#",
      link: "#",
    },
    {
      name: "14",
      img: "#",
      link: "#",
    },
    {
      name: "15",
      img: "#",
      link: "#",
    },
  ],
];
---

<Layout title="Tea today is delicious">
  <main>
    <div id="Block-1">
      <div class="h-screen w-screen overflow-hidden">
        <div
          id="DarkSideBar"
          class="absolute w-1/2 h-full right-0 z-10 from-true-black bg-gradient-to-l"
        >
        </div>

        <img
          id="TheBackGorundImage"
          class="h-auto w-screen TeaCupBackground"
          style=""
          src="/img/background/a823ff6bdd05ad85b615988a96e28739.jpeg"
          alt="Tea"
        />
      </div>

      <div
        id="Text"
        class="absolute flex flex-col gap-4 content-center items-center w-[36rem] TeaCupText top-[20%] right-[10%] z-20"
      >
        <p class="Headline-1 text-center">Discover varijas flavors of tea</p>
        <p class="Text text-center pb-4">
          Explore different types of tea, their production processes and health
          advantages, while keeping track of your personal tea journey.
        </p>

        <form class="w-10/12">
          <!-- <label
            for="default-search"
            class="mb-2 font-medium text-gray-900 sr-only dark:text-white"
            >Search</label
          > -->

          <div class="relative flex flex-row gap-8">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
              </svg>
            </div>

            <input
              type="search"
              id="default-search"
              class="p-2 ps-10 rounded-lg w-full"
              placeholder="Search for..."
              required
            />

            <button
            type="submit"
            class="bg-light text-dark-green focus:ring-4 font-medium rounded-lg px-6 py-2 w-auto"
            >Search
          </button>
          </div>

  
        </form>
      </div>

      <div
        class="absolute bottom-0 left-0 flex justify-center items-center w-full"
      >
        <div class="flex flex-col justify-center items-center">
          <svg
            width="79"
            height="19"
            viewBox="0 0 79 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M77 2L41.5 17L2 2"
              stroke="#F4F0E5"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>

          <!-- Second SVG with relative positioning -->
          <svg
            width="79"
            height="19"
            viewBox="0 0 79 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="relative -top-8"
          >
            <path
              d="M77 2L41.5 17L2 2"
              stroke="#F4F0E5"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </div>
    <div id="Block-2" class="my-8 flex flex-col gap-8 h-screen">
      <div id="TopList" class="flex gap-x-16 justify-center items-center">
        {
          Block2DataTabs.map((data) => (
            <button
              class="bg-transparent text-light/50
            focus:text-light px-4 py-2 rounded hover:bg-color/10 focus:underline focus:text-lg flex flex-row"
            >
              {data.name}
            </button>
          ))
        }
      </div>

      <div class="flex flex-col gap-4 justify-center items-center">
        <p class="text-5xl text-light">
          {Block2DataTabs[0].name}
        </p>
        <div class="flex flex-col justify-center items-center">
          <p class="text-light text-center w-80 h-32">
            {Block2DataTabs[0].text}
          </p>

          <button class="text-dark-green px-8 py-2 w-fit rounded-lg bg-light"
            >All {Block2DataTabs[0].name}
          </button>
        </div>
      </div>
      <div
        class="flex flex-row gap-8 overflow-hidden my-auto justify-center items-center"
      >
        {
          Block2DataTeas[0].map((data) => (
            <div class="flex flex-col justify-center items-center gap-2">
              <img
                src="/img/background/{data.img}.jpg"
                class="rounded-full w-auto h-64 bg-black"
              />
              <p class="text-light">{data.name}</p>
            </div>
          ))
        }
      </div>
    </div>
    <div id="Black-3" class="my-16">
      <img
        class="h-screen w-screen object-cover"
        style=""
        src="/img/background/a823ff6bdd05ad85b615988a96e28739.jpeg"
        alt="Tea"
      />
    </div>
  </main>
</Layout>

<style>
  .TeaCupBackground {
    transform: scaleY(-1) scale(1.16) translate(-7%, 22.5%);
  }
  TeaCupText {
    transform: translate(50%, 50%);
  }
  .Block3 {
    transform-origin: 50% 50%;
  }
</style>
