---
import Layout from "src/layouts/layout.astro";
const { frontmatter } = Astro.props;
import TeaTitleText from "src/layouts/teaTitleText.astro";
---

<Layout title="The Tea List" language="en">
  <div id="Block-1" class="flex pt-16 justify-center items-center">
    <div class="flex flex-col items-center my-16 w-[52rem]">
      <p class="Headline-2">{frontmatter.name}</p>
      <p class="Text mt-6 text-center">{frontmatter.description}</p>
    </div>
  </div>

  <div id="Block-2" class="flex flex-row mx-14 h-full">
    <div class="w-1/2 ml-8 mr-16">
      <img
        src={`/img/tea/Green-Teas/id${frontmatter.id}.jpg`}
        alt=`image of ${frontmatter.name}`
        class="max-w-full h-auto overflow-clip flex items-center justify-center"
      />
      <TeaTitleText
        Title="Popularity"
        Text={frontmatter.popularity}
        Margin="16"
      />
    </div>

    <div class="w-1/2 mr-8 ml-16 h-[40rem] flex flex-col">
      <TeaTitleText Title="Origin" Text={frontmatter.origin} Margin="0" />
      <TeaTitleText
        Title="Harvest Notes"
        Text={frontmatter.harvest_notes}
        Margin="24"
      />
      <TeaTitleText
        Title="Brewing methodes"
        Text={frontmatter.brewing_methods}
        Margin="24"
      />
      <TeaTitleText
        Title="Health Benefits"
        Text={frontmatter.health_benefits}
        Margin="24"
      />
    </div>
    
  </div>

  <!-- <div id="Block-3" class="bg-black mt-28">
    <div class="flex flex-row gap-16 mx-16 py-24">
      <div class="bg-white flex-grow h-[32rem]"></div>
      <div class="bg-white flex-grow h-[32rem]"></div>
    </div>
  </div> -->

  <div id="Block-4" class="my-32 flex flex-row flex-grow mx-32 gap-32 ">
    <div class="w-1/2"></div>
    <div class="w-1/2">
      <p class="Subheadline">Bancha Iced Tea with Citrus</p>
      <p class="Text">
        Bancha tea can be used in various creative recipes beyond just drinking
        it plain! Here is a refreshing, cold version of Bancha tea infused with
        citrus for a zesty twist.
      </p><a class="bg-light rounded-xl px-16 my-8 float-right" href="/benefits">More Recipes</a>
    </div>
  </div>

  <div id="Block-5" class="my-32 mx-24">
    <p class="Headline-3">What do other think about it?</p>
    <p class="Text w-[32rem]">Share your opinion about this tea</p>
  </div>
</Layout>
