---
import Layout from "src/layouts/layout.astro";
const { frontmatter } = Astro.props;
import TeaTitleText from "src/layouts/teaTitleText.astro";
import json from "public/resapys.json";

const count = [1, 2, 3, 4, 5, 6];
---

<Layout title="The Tea List" language="en">
  <div id="Block-1" class="flex pt-16 justify-center items-center">
    <div class="flex flex-col items-center my-16 w-[52rem]">
      <p class="Headline-2" id="TeaName">{frontmatter.name}</p>
      <p class="Text mt-6 text-center">{frontmatter.description}</p>
    </div>
  </div>

  <div id="Block-2" class="flex flex-row mx-14 h-full">
    <div class="w-1/2 ml-8 mr-16">
      <img
        src={`/img/tea/${frontmatter.imgFolder}/id${frontmatter.id}.jpg`}
        alt=`image of ${frontmatter.name}`
        class="max-w-full h-auto overflow-clip flex items-center justify-center rounded-2xl"
      />
      <TeaTitleText
        Title="Popularity"
        Text={frontmatter.popularity}
        Margin="16"
      />
    </div>

    <div class="w-1/2 mr-8 ml-16 h-[40rem] flex flex-col">
      <TeaTitleText Title="Origin" Text={frontmatter.origin} Margin="0" />
      <TeaTitleText
        Title="Harvest Notes"
        Text={frontmatter.harvest_notes}
        Margin="24"
      />
      <TeaTitleText
        Title="Brewing methodes"
        Text={frontmatter.brewing_methods}
        Margin="24"
      />
      <TeaTitleText
        Title="Health Benefits"
        Text={frontmatter.health_benefits}
        Margin="24"
      />
    </div>
  </div>

  <!-- <div id="Block-3" class="bg-black mt-28">
    <div class="flex flex-row gap-16 mx-16 py-24">
      <div class="bg-white flex-grow h-[32rem]"></div>
      <div class="bg-white flex-grow h-[32rem]"></div>
    </div>
  </div> -->

  <div id="Block-4" class="my-32 flex flex-row flex-grow mx-32 gap-32 h-96">
    <img
      src="/img/recipes/bf183e5f6399b21ef8213e18bff71afd.png"
      alt=""
      srcset=""
      class="object-cover w-1/2"
    />
    <div class="w-1/2 flex items-center mt-24">
      <div>
        <p class="Subheadline">{json["Black Teas"]["resapylist"][0]["name"]}</p>

        <p class="Text">
          {json["Black Teas"]["resapylist"][0]["description"]}
        </p>

        <a
          class="bg-light rounded-xl px-16 my-8 float-right"
          href="/recipes/Black-Teas/Black Tea with milk"
          >More Recipes
        </a>
      </div>
    </div>
  </div>

  <div id="Block-5" class="my-32 mx-24">
    <p class="Headline-3 text-light">What do other think about it?</p>
    <p class="Text w-[32rem] text-light">Share your opinion about this tea</p>

    <div
      class="flex flex-row overflow-scroll gap-12 flex-nowrap mt-8"
      id="CommentSection"
    >
      <!-- {
        count.map((a) => (
          <div class="h-[16rem] w-[32rem] bg-color flex flex-col rounded-xl justify-between flex-shrink-0">
            <div class="flex flex-row justify-between pt-6 px-6 ">
              <div class="flex flex-row gap-6">
                <img
                  src=""
                  alt=""
                  class="w-12 h-12 rounded-full bg-dark-green"
                />
                <div class="flex flex-col">
                  <p class="Subheadline text-black">Viezh Robert</p>
                  <p class="Text text-black">Warsaw, Poland</p>
                </div>
              </div>
              <p class="text-black Subheadline">4.5</p>
            </div>
            <p class="Text text-black pb-6 px-6 overflow-scroll text-justify">
              "Chai tea is pure comfort in a cup. Its blend of spices creates a
              cozy, aromatic experience that's perfect for any mood or
              occasion."
            </p>
          </div>
        ))
      } -->

      <div
        class="h-[16rem] w-[32rem] bg-color flex flex-col rounded-xl justify-between flex-shrink-0 items-center"
      >
        <textarea
          class="Text text-black pt-6 px-6 h-full w-full resize-none overflow-auto text-justify bg-transparent outline-none placeholder-black/70"
          placeholder="Type your comment ..."
        >
        </textarea>
        <button class="bg-dark-green w-min py-1 px-4 rounded-xl text-light mb-2"
          >Comment</button
        >
      </div>
    </div>
  </div>
  <script type="module">
    let data;
    let teaName = document.getElementById("TeaName").textContent;

    document.addEventListener("DOMContentLoaded", () => {
      fetch("/api/get_comments", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ teaName })
      })
        .then((response) => response.json())
        .then((data_from_db) => {
          data = data_from_db;
          renderCommentsBar();
        })
        .catch((error) => console.error("Error fetching initial data:", error));
    });

    function renderCommentsBar() {
      const carousel = document.getElementById("CommentSection");

      data.map((comment) => {

      console.log(comment);

        const teaDiv = document.createElement("div");
        teaDiv.className = "h-[16rem] w-[32rem] bg-color flex flex-col rounded-xl justify-between flex-shrink-0";

        teaDiv.innerHTML = `
          <div class="h-[16rem] w-[32rem] bg-color flex flex-col rounded-xl justify-between flex-shrink-0">
            <div class="flex flex-row justify-between pt-6 px-6 ">
              <div class="flex flex-row gap-6">
                <img
                  src=""
                  alt=""
                  class="w-12 h-12 rounded-full bg-dark-green"
                />
                <div class="flex flex-col">
                  <p class="Subheadline text-black">${comment.userName}</p>
                  <p class="Text text-black">${comment.location}</p>
                </div>
              </div>
              <p class="text-black Subheadline">4.5</p>
            </div>
            <p class="Text text-black pb-6 px-6 overflow-scroll text-justify">
              "${comment.text}"
            </p>
          </div>
        `;

        carousel.appendChild(teaDiv);
      });
    }
  </script>
</Layout>
